body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width: 50%;
}

.alert {
  display: block;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  margin-top: 5px;
}

.alert-success {
  background-color: #16bc16;
  color: white;
}

.alert-error {
  background-color: #d13a3a;
  color: white;
}