body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  width: 50%;
}

.alert {
  display: block;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  margin-top: 5px;
}

.alert-success {
  background-color: #16bc16;
  color: white;
}

.alert-error {
  background-color: #d13a3a;
  color: white;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.input-group label {
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

.input-group input {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.25);
  border-width: 1px;
  padding: 10px;
  border-radius: 6px;
}

.input-group input:focus-visible {
  outline: none;
  border-color: rgba(128, 128, 128, 1);
}

.input-group .icon {
  position: absolute;
  top: 26px;
  right: 10px;
  cursor: pointer;
}

.input-group .icon .disable {
  display: none;
}

.input-group .icon svg {
  height: 24px;
  width: 24px;
}

.submit {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #f67373;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 2px 3px #ff8989;
  border-radius: 6px;
  cursor: pointer;
}

.submit:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}